<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Som Durgesh Gupta</strong> . A Full Stack Software Web Developer with 4 years of experience in MEAN stack development. I specialize in multiple versions of Angular and AngularJS, with additional expertise in Node.js, Python, JavaScript, and AWS. I've successfully delivered several live projects, showcased in my portfolio.</p>
              <p>
                Driven by a passion for problem-solving and continuous learning, I enjoy crafting efficient, elegant solutions and am always eager to innovate.
              </p> 
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">August 04, 1997</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">somdurgeshgupta&#64;gmail.com</div>

              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+91 7987299768</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">Maa Durga Dresess, Main road, Near Bus Stand, Mauganj, Rewa (M.P.).,486331
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">Hindi, English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>