<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>

    <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->
    <div class="row">

      @for (project of projects; track project) {
        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="blog-entry">
            <div class="card">
              <img class="card-img-top" src={{project.imgUrl}} onerror="this.src = 'assets/images/gif.gif'" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">{{project.title}}</h4>
                <p class="card-text">{{project.desc}}</p>
                <h5 class="card-text"><b>Technology :</b> {{project.tech}} </h5>
                @if (project.mediumlink) {
                  <h5 class="card-text"><a [href]="project.mediumlink" target="_blank" rel="noopener noreferrer">Project details</a></h5>
                }
                <a [href]="project.livedemo" target="_blank" rel="noopener noreferrer" class="btn btn-primary ml-2 mr-5">View live site</a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>

    <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->
  </div>
</div>
